@import url('https://fonts.googleapis.com/css2?family=Delicious+Handraw&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
}

a {
    text-decoration: none;
}

header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header ul li {
    margin: 10px;
}

img {
    width: 150px;
}

h1 {
    font-size: 34px;
    color: rgb(40, 96, 117);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    font-size: 20px;
    color: rgb(74, 67, 67);
}

.presentacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentacion h1 {
    font-size: 35px;
    padding: 50px;
    padding-bottom: 3px;
    color: rgb(40, 96, 117);
}

.presentacion p {
    width: 70%;
    font-size: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
    background-color: rgb(248, 248, 248);
}

.contenedor p{
    width: 70%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.caja {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja img {
    border-radius: 50%;
    margin: 5px;
}

.caja p {
    font-size: 17px;
    text-align: center;
}

.footer{
    background-color: rgb(94, 94, 94);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer p{
    color: white;
}